.app {
  min-height: 100vh;
}

.menu-user {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.menu-user__avatar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 160px;
}

.menu-user--name {
  font-weight: bold;
  color: #302B2B;
  padding-right: 8px;
}

.ui.secondary.menu .item {
  font-size: 16px;
  font-weight: bold;
  color: #9F9F9F;
}

.orders__day {
  display: flex;
  flex-direction: row;
  height: 60px;
  border-bottom: 1px solid aliceblue;
}

.orders__day .search {
  display: flex;
  flex: 6;
  padding: 8px 2px;
}

.orders__day .search input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding-left: 26px;
}

.orders__day .add {
  display: flex;
  flex: 1;
  width: 60px;
  align-items: center;
  justify-content: center;
}

.orders__day .add button {
  background-color: none !important;
}

.order__card {
  margin-top: 5px;
}

.divs{
  padding: 20px;
}

.ui.button.create-new-btn {
  margin-right: 5px;
}

.ui.modal.content.newContent{
  margin: 100px;
}

.newContent{
  margin-left: 60px;
  text-align: center;
}

.output{
  height: 60px;
  font-size: 0.8rem;
}

.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}